[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"

[packages]
flask = "*"
gunicorn = "==19.9.0"
flask-restplus = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-testing = "*"
"psycopg2" = "*"
pyjwt = "*"

[requires]
python_version = "3.6"
